[2017-02-27 17:09] htdat opened #1 "Viết blog post về hoành thành dịch 100% tiếng Việt cho core:"
# Nơi đăng: https://vi.wordpress.org/news/

# Nội dung:

* Credit cho những người đã tham gia đợt cuối.
* Kêu gọi tham gia dịch tiếp theo và tham gia vào vi.wordpress.org/team
* Liệt kê ra các next-step như tạo ra glossary, improve trang vi.wordpress.org

[2017-02-27 17:15] htdat opened #2 "Thiết lập Glossary và Style Guide"
* Tài liệu chính thức: https://make.wordpress.org/polyglots/handbook/tools/glotpress-translate-wordpress-org/glossary-style-guide/

* Video hướng dẫn: https://wordpress.tv/2016/11/14/naoko-takano-build-your-locale-style-guide/

* File Google Sheet tạm thời để note về các từ, cụm từ đang gặp: https://docs.google.com/spreadsheets/d/1z3KUrO7Zla9xx6uGR-j5QfjAMTvhePQpFEV3kuWfgTI/edit#gid=0

## Update
*

[2017-02-27 17:16] htdat opened #3 "Review lại các bản dịch, và đảm bảo theo "Glossary" và "Style Guide"."
Sau khi task #2 hoàn thành, chúng ta sẽ tiến hành nâng cao chất lượng bản dịch theo "Glossary" và "Style Guide".

[2017-02-27 17:21] htdat opened #4 "Cải thiện trang vi.wordpress.org"
Cải thiện trang https://vi.wordpress.org như được hướng dẫn chính thức: https://make.wordpress.org/polyglots/handbook/rosetta/setting-up-your-local-site/rosetta-for-the-community/

## Một số việc có thể làm:
- [x] Dịch hết chuỗi cho site `vi.wordpress.org` . Hướng dẫn: https://make.wordpress.org/polyglots/handbook/rosetta/setting-up-your-local-site/translating-the-interface/ - #13
- [x] Cập nhật l

[2017-03-02 02:36] htdat commented on #1
ID trên wordpress.org của những người tham gia đợt cuối (30 ngày trở lại đây): @htdat, @dinhtungdu, @nguyenvanduocit, @hoangvusk4, @khoipro, @levantoan, @sondoha, @rilwis

[2017-03-02 02:41] dinhtungdu commented on #2
Nếu làm được trên translate.wordpress.com thì quá tiện anh ạ 👍

[2017-03-02 02:50] htdat commented on #2
.com hay .org nhỉ? Chắc chắn là sẽ có trên .org nhé :D. Họ có tool, giờ mình nghiên cứu để apply vào cho chuẩn thôi :)

[2017-03-02 16:18] htdat commented on #1
Done: https://vi.wordpress.org/2017/03/02/100-wordpress-4-7-2-da-duoc-dich-sang-tieng-viet/
Có review và sửa lại danh sách người đóng góp một chút :)

[2017-03-02 16:18] #1 closed, assigned to nobody

[2017-03-04 10:36] khoipro commented on #1
Thank you!

[2017-03-05 09:54] htdat opened #5 "Tạo showcase trên vi.wordpress.org"
Task chính: #4

# Hướng dẫn:

* Chỉnh sửa, thêm bớt: https://make.wordpress.org/polyglots/handbook/rosetta/setting-up-your-local-site/modifying-the-showcase/

* Kỳ vọng chung: https://make.wordpress.org/polyglots/handbook/rosetta/rosetta-expectations/#expectations-for-rosetta-sites

# Một số site lớn dùng WordPress:

* http://tiepthigiadinh.com.vn/ (có cả mobile app)
* http://svvn.vn/

# Đề xuất t

[2017-03-07 02:04] htdat opened #6 "4.7.3 - dịch release info và tạo download package"
* Thông tin chính thức để dịch: https://wordpress.org/news/2017/03/wordpress-4-7-3-security-and-maintenance-release/

* Release phiên bản 4.7.3 trên vi.wordpress.org

[2017-03-07 02:04] htdat commented on #6
Đã release trên vi.wordpress.org

[2017-03-07 02:04] htdat commented on #6
@dinhtungdu sẽ tham gia dịch bài này.

[2017-03-07 02:14] dinhtungdu commented on #6
@htdat oki anh 👍

[2017-03-07 02:16] htdat opened #7 "Kiểm tra tại sao posts trên vi.wordpress.org không hiện lên trong wp-admin"
Vấn đề
=====

* Khi có bài viết ở đây https://vi.wordpress.org/news/ và user chọn `tiếng Việt` là ngôn ngữ trong wp-admin thì sẽ hiện thông tin ở phần `WordPress News`.

* Hiện tại không có phần này, trong khi ngôn ngữ khác như https://es.wordpress.org/news/ thì hiện.

Tasks:
======

* Tìm lại chính xác thông tin trên make.wordpress.org về vấn đề này.

* Contact team core trên Slack.

[2017-03-07 04:12] htdat opened #8 "Tự động hoá quá trình release bản tiếng Việt khi có version mới"
Tài liệu hướng dẫn: https://make.wordpress.org/polyglots/handbook/translating/packaging-localized-wordpress/automated-release-packages/

[2017-03-07 04:56] #6 closed, assigned to dinhtungdu

[2017-03-07 06:32] htdat commented on #6
Release o day: https://vi.wordpress.org/2017/03/07/ra-mat-wordpress-4-7-3-phien-ban-cap-nhat-bao-mat-va-bao-tri/

[2017-03-11 07:56] htdat opened #9 "Đề xuất thêm thông tin về team Việt Nam vào trang Polygots và đường link tới Style Guide và Glossary trên translate.wordpress.org"
* Link để thêm thông tin về Slack của team Việt Nam: https://make.wordpress.org/polyglots/handbook/about/teams/local-slacks/

* Link đẻ thêm thông tin về Style Guide và Glosssary: https://make.wordpress.org/polyglots/handbook/tools/glotpress-translate-wordpress-org/list-of-glossaries-per-locale/

[2017-03-11 08:06] htdat opened #10 "Dịch các file như Readme, wp-config-sample.php"
Tiến độ:

- [x] readme.html
- [x] wp-config-sample.php

Thông tin: https://make.wordpress.org/polyglots/handbook/translating/packaging-localized-wordpress/working-with-the-translation-repository/#dist

Trước khi commit:

- [x] 1.  Commit file đó lên repo này, dưới folder `dist`
- [x] 2. Post lên #general để mọi người và review, comment ngay trên commit ở đây
- [x] 3. Commit trên https://i18n.svn.w

[2017-03-12 05:59] htdat commented on #9
Done việc add thêm thông tin về Slack của team Việt Nam:
https://make.wordpress.org/polyglots/2017/03/11/add-the-vietnam-team-to-the-local-slack-teams-page/?replytocom=275396#respond

[2017-03-12 12:50] htdat commented on #9
Anh open lại nhé, vì cái này còn 1 task:

* Link để  thêm thông tin về Style Guide và Glosssary: https://make.wordpress.org/polyglots/handbook/tools/glotpress-translate-wordpress-org/list-of-glossaries-per-locale/

[2017-03-12 15:07] dinhtungdu commented on #2
Update 12/3/2017
Glossary: https://goo.gl/0UfU9A
Style Guide: https://goo.gl/GMVSuc

[2017-03-20 07:25] htdat commented on #9
Đang đề nghị ở: https://make.wordpress.org/polyglots/2017/03/11/add-the-vietnam-team-to-the-local-slack-teams-page/#comment-275484

Add thêm post mới: http://make.wordpress.org/polyglots/2017/03/23/add-the-local-glossary-and-style-guide-pages-of-vietnamese/

[2017-03-20 07:33] htdat commented on #2
Done:

* Glossary: https://translate.wordpress.org/locale/vi/default/glossary
* Style Guide: https://vi.wordpress.org/style-guide-cho-dich-tieng-viet/

## Tiếp theo: Viết một post trên https://vi.wordpress.org/team với nội dung:

* Thông báo đã hoàn thành với 2 link bên trên.
* Credit những người tham gia, ai không biết thì đề nghị comment để mình update.
* Những từ mới thì có thể trao đổi trên Sl

[2017-03-20 15:22] dinhtungdu commented on #2
Done: https://vi.wordpress.org/team/2017/03/20/hoan-thanh-glossary-va-style-guide/

[2017-03-20 15:22] #2 closed, assigned to nobody

[2017-03-23 02:20] htdat opened #11 "Update cho mọi người - What do you want to see change in the editor experience?"
Mình nhận được email này do là organizer của https://www.meetup.com/Saigon-WordPress/
Mình xem xem có thông báo được ở trên https://vi.wordpress.org/news/ hay không?

----------

## A message from WordPress

Hello wonderful group leaders! We’re requesting feedback on the editor experience and could use your community’s opinions. I would greatly appreciate if you’d send this to your group members,

[2017-03-23 02:46] tatthien commented on #11
## Một lời nhắn từ WordPress

Xin chào các bạn. Chúng tôi đang thu thập những thông tin phản hồi về trải nghiệm của bạn khi sử dụng trình biên tập và rất mong có được những ý kiến từ cộng đồng của các bạn. Tôi sẽ rất biết ơn nếu bạn gởi những thông tin này tới các thành viên của mình. Có thể thông qua email, board thảo luận, Skack hoặc nơi tốt nhất của các bạn. Hãy động viên mỗi thành viên cùng th

[2017-03-23 15:31] htdat commented on #11
Done and close!
https://vi.wordpress.org/2017/03/23/ban-muon-thay-doi-gi-cho-trinh-bien-tap-cua-wordpress/

[2017-03-23 15:31] #11 closed, assigned to nobody

[2017-03-23 15:50] htdat commented on #9
Done! Có thể search thông tin ở 2 page ở [comment đầu tiên ở đây](https://github.com/wpvi/todos/issues/9#issue-213514261) với từ khoá `Vietnamese`

[2017-03-23 15:50] #9 closed, assigned to nobody

[2017-03-25 07:20] htdat opened #12 "Thêm page liệt kê các group meetups ở Việt Nam: Saigon, Hanoi, Nha Trang"
Task chính: #4

Page dự kiến: https://vi.wordpress.org/meetups/

## Liệt kê các meetup sau (được chính thức  hỗ trợ từ WordPress Foundation https://make.wordpress.org/community/handbook/community-deputy/meetup-program-basics/ )

* https://www.meetup.com/Saigon-WordPress/
* https://www.meetup.com/Nha-Trang-WordPress/
* https://www.meetup.com/hanoi-wordpress/

## Group này không được hỗ từ WordPress

[2017-03-25 07:24] htdat opened #13 "Dịch hết chuỗi cho site vi.wordpress.org"
Task chính: #4

Dịch hết chuỗi cho site `vi.wordpress.org`.

- [x] vi.wordpress.org - https://translate.wordpress.org/projects/meta/rosetta/vi/default
- [ ] vi.wordpress.org/team/ -  [P2 Breathe](https://translate.wordpress.org/projects/meta/p2-breathe) (theme) and [o2](https://translate.wordpress.org/projects/meta/o2) (plugin).
- [x] vi.wordpress.org/themes/ - https://translate.wordpress.org/loca

[2017-03-25 07:26] htdat opened #14 "Cập nhật lại hình ảnh, screenshot cho các trang hiện tại trên vi.wordpress.org"
Task chính: #4

Cập nhật lại hình ảnh, screenshot cho các trang hiện tại.

[2017-03-25 07:47] htdat opened #15 "Các glossary phân biệt in hoa và in thường"
Ví dụ: hiện tại `Account` và `account` cần hai từ riêng biệt trong glossary https://translate.wordpress.org/locale/vi/default/glossary

Việc cần làm:

* Check với team `Polygots`, họp hàng tuần trên Slack, thông tin ở đây: https://make.wordpress.org/polyglots/

* Có nên update những từ như thế này vào trong bảng Glossary hiện tại hay không

[2017-03-25 07:55] dinhtungdu commented on #3
Chúng ta sẽ kiểm soát tiền độ và phân công task này tại địa chỉ sau: https://goo.gl/3t2icN

Nhằm giúp mọi người dễ dàng review và tránh việc chồng chéo, nhiều người cùng dịch một từ, bạn có thể theo quy trình sau:
- Điền thông tin về status trong quá trình review. Ví dụ khi bắt đầu dịch một từ, điền `inprogres` vào cột `Status`. Sau khi dịch xong điền `done`.
- Ghi tên owner dịch từ đó vào cột `Ow

[2017-03-26 03:29] khoipro commented on #5
Site của 1 nhóm blogger chuyên đi du lịch: https://www.similarweb.com/website/yeumaybay.com
Được khá nhiều hãng máy bay support. Chủ yếu review chất lượng dịch vụ, ít sử dụng Affiliate links.

[2017-03-26 03:44] khoipro commented on #5
Nền tảng Affiliate có vẻ ổn ở Việt Nam: https://accesstrade.vn

[2017-03-26 05:37] htdat commented on #5
* Trang yeumaybay.com thì chỉ được khoảng 16K hàng tháng

* https://www.similarweb.com/website/accesstrade.vn#websiteContent thì được 2M view, nhưng chủ yếu là đi vào `click.accesstrade.vn` (chiếm 65%), trong khi site chính là WordPress `accesstrade.vn` thì chỉ khoảng gần 6%, xấp xỉ `120,000 visit`, nên chắc cũng được.

Có trang canhme.com có vẻ cũng OK, `658,000` visit - https://www.similarweb.co

[2017-03-29 06:51] htdat commented on #7
Done:
* Document: https://make.wordpress.org/polyglots/2015/08/16/local-wordpress-news-in-dashboards/

* Fixed this tring: https://translate.wordpress.org/projects/wp/dev/admin/vi/default?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=12886&sort%5Bby%5D=translation_date_added&sort%5Bhow%5D=asc

Next:

* Release new versions of WordPress 4.7.3-vi and the language pack.

[2017-03-29 11:18] khoipro commented on #5
canhme.com cũng ok đấy, của Luân Trần.

[2017-03-29 11:20] khoipro commented on #7
Close vào được rồi nhỉ.

[2017-03-29 14:41] htdat commented on #7
Để tạo package và test lại đã anh ạ.

[2017-03-30 15:38] khoipro commented on #13
<img width="796" alt="screenshot at mar 30 22-38-09" src="https://cloud.githubusercontent.com/assets/10395311/24512727/94c9c90e-1599-11e7-979f-a3bc052fa438.png">

Cần kiểm tra lại chuỗi này nhé.
1. Cần viết hoa.
2. Nên chuyển nghĩa rõ hơn là 'Phiên đăng nhập'

[2017-03-30 15:40] khoipro commented on #12
Nếu từ 2014 thì coi như Inactive rồi, đưa vào cũng không còn có joining members thêm nữa.

[2017-03-30 15:44] khoipro commented on #14
Screenshot cũ hiện tại thấy của FitWP với nhiều tiếng Anh quá, mình có cái screenshot này là 1 blog tiếng Việt 100%, cũng không công bố thông tin hay quảng cáo gì.

Cân nhắc dùng được không nhé.

<img width="1439" alt="screenshot at mar 30 22-43-32" src="https://cloud.githubusercontent.com/assets/10395311/24513034/63b411d4-159a-11e7-9798-5be6014792da.png">

[2017-03-30 15:45] khoipro commented on #4
Phần này đã có To Do List dịch chưa?

<img width="1001" alt="screenshot at mar 30 22-45-19" src="https://cloud.githubusercontent.com/assets/10395311/24513108/965480ec-159a-11e7-984a-c3445e6e3039.png">

[2017-03-30 15:46] khoipro commented on #4
Page này cũng chưa có bản dịch: https://vi.wordpress.org/themes/getting-started/

[2017-03-30 15:52] khoipro opened #16 "Tạo account trên Slack"
Mình có account khoipro trên wp.org, nhưng khi tạo account thì thấy báo send activation email vào khoipro@chat.wordpress.org.

Làm thế nào để truy cập và active được nhỉ vì không biết email này check in kiểu gì?

Refer: https://vi.wordpress.org/team/slack-wordpress-viet-nam/

[2017-03-30 16:25] htdat commented on #16
Thanks anh. Check email anh đăng ký tài khoản `khoipro` trên WordPress.org nhé.
Em update lại trang hướng dẫn này.

[2017-03-30 16:25] htdat commented on #16
Anh kiểm tra xong mà OK thì close giúp em nhé :)

[2017-03-30 16:28] htdat opened #17 "Kiểm tra và dịch hết các page (site) con của vi.wordpress.org"
Cần dịch các chuỗi trên các trang sau:
* https://vi.wordpress.org/themes/
* https://vi.wordpress.org/plugins/

[2017-03-30 16:28] htdat commented on #4
cái đó nó thuộc cái project khác trên WordPress.org.
Em tạo issue #17 cho các page khác đó rồi nhé.

[2017-04-01 13:53] htdat commented on #7
OK rồi :)
Đã release trên vi.wordpress.org
Close!

![screenshot_2017-04-01__20-51-22](https://cloud.githubusercontent.com/assets/10045087/24579320/1c6911a6-171d-11e7-8483-00a8f7c9ccb8.png)

[2017-04-01 13:53] #7 closed, assigned to nobody

[2017-04-05 04:28] #16 closed, assigned to nobody

[2017-04-09 16:39] htdat commented on #3
@dinhtungdu sorry e, task này anh ngâm lâu quá.

https://vi.wordpress.org/team/2017/04/09/ra-soat-lai-cac-ban-dich-dua-tren-style-guide-va-glossary/

Cứ để `Open` để theo dõi nhé.

[2017-04-09 16:52] htdat commented on #12
* Done: https://vi.wordpress.org/danh-sach-cac-nhom-meetup-tai-viet-nam/
* Tạo một menu item "Gặp gỡ" ở menu chính

[2017-04-09 16:52] #12 closed, assigned to nobody

[2017-04-21 04:08] htdat opened #18 "Release 4.7.4"
- [x] Viết bài dịch https://wordpress.org/news/2017/04/wordpress-4-7-4/ , post lên https://vi.wordpress.org/news/

- [x] Release version 4.7.4 trên vi.wordpress.org

[2017-04-21 04:12] htdat commented on #18
Done: Đã update download package 4.7.4 trên https://vi.wordpress.org/

[2017-04-21 04:21] tatthien commented on #18
Sau gần 60 triệu lượt tải về của WordPress 4.7, chúng tôi xin thông báo phát hành phiên bản WordPress 4.7.4, một bản cập nhật về việc bảo trì.

Lần phát hành này gồm có 47 bản sửa lỗi và cải tiến, một trong những thay đổi quan trọng là sửa lại sự không tương thích giữa phiên bản Chrome sắp tới và phần editor, sự không đồng bộ trong việc xử lí media và những cải thiện cho REST API. Để xem đầy đủ nh

[2017-04-21 05:38] htdat commented on #18
Done: https://vi.wordpress.org/2017/04/21/wordpress-4-7-4-phien-ban-bao-tri/

Closed. Thanks @tatthien :D

[2017-04-21 05:38] #18 closed, assigned to nobody

[2017-06-13 15:45] dinhtungdu commented on #8
Đã xong! Release mới sẽ được cập nhật trên vi.wordpress.org khi hoàn thành 100% phần dịch thuật cho nó.

[2017-06-13 15:45] #8 closed, assigned to dinhtungdu

[2017-06-14 02:04] htdat commented on #8
@dinhtungdu :
Em update một chút là e đã làm gì để đạt được cái này nhé?

[2017-06-17 05:43] dinhtungdu commented on #8
Để làm được điều này ta cần phải:
1. Tạo một `General Request` tại https://make.wordpress.org/polyglots/ với nội dung như sau (phải là LM/GTE mới được):
Hi all! I’m one of Vietnamese Locale Manager. Please grant me the right to write to repository: i18n.svn.wordpress.org/vi/ . I need to commit some changes to it.
2. Sau khi đã được cấp quyền, sử dụng `svn` clone `http://i18n.svn.wordpress.org/vi/`

[2017-07-21 09:12] htdat commented on #5
mecon.vn

[2017-08-13 05:29] htdat opened #19 "Thêm logo cho các trang"
- [ ] vi.wordpress.org
- [x] vi.wordpress.org/team - Done - Widget Image
- [x] Slack - Done - Logo
- [x] GitHub - https://github.com/wpvi
- [ ] Maybe: Facebook Group
- [x] Add logos to GitHub - https://github.com/wpvi/todos/tree/master/logos

* Source: update ở đây, trên Slack https://wpvi.slack.com/archives/C3W5EKLH4/p1502602126040231

[2017-08-13 05:35] htdat commented on #17
Duplicate #13

[2017-08-13 05:35] #17 closed, assigned to nobody

[2017-08-13 05:43] htdat commented on #13
Thêm các thông tin.

Đã xong Theme và Plugin.

Cần phải 24 giờ để thấy được sự thay đổi - [source](https://make.wordpress.org/polyglots/handbook/rosetta/theme-plugin-directories/#how-to-translate-the-theme-plugin-directories).

[2017-08-13 05:47] htdat opened #20 "Post mới để thông báo một số thông tin cho tháng 8 và tháng 9"
Đăng ở https://vi.wordpress.org/news/ hoặc https://vi.wordpress.org/team/

* Dịch theme/plugin directory https://github.com/wpvi/todos/issues/13#issuecomment-322023310
* Có thể update xong logo - https://github.com/wpvi/todos/issues/19
* Thêm 3 member mới cho Locale Manager và
* Tổ chức meetup ở 3 thành phố HN, SG, NT cho sự kiện https://wptranslationday.org/local-events/
* Tìm kiếm người tổ chức

[2017-08-14 10:47] thuautp commented on #19
Hi Đạt, t update các file logo như c nói rồi nhé :)
[logos-wordpress-vi.zip](https://github.com/wpvi/todos/files/1221986/logos-wordpress-vi.zip)

[2017-08-17 10:57] htdat commented on #13
Themes OK - https://vi.wordpress.org/themes/
Plugins vẫn tiếng Anh - https://vi.wordpress.org/plugins

Đang check lại ở https://make.wordpress.org/polyglots/2017/08/17/plugin-pages-do-not-use-vietnamese-translations/

[2017-08-17 16:10] htdat commented on #19
Well-done!

[2017-08-18 07:28] htdat commented on #19
@thuautp
Hmm... mấy cái logo PNG là tớ tự convert, còn cái logo hình vuông thì có vẻ không ổn lắm vì nó không dùng transparent background.

Cậu check lại được không?

- [x] Hai logo cũ xuất thêm ra dạng PNG
- [ ] Logo hình vuông (chỉ có là cờ và logo): PNG và SVG.

[2017-08-20 16:29] thuautp commented on #19
Hi c @htdat, t gửi lên 2 file png cho cả 2 logo luôn nhé.
![wordpress-logo-hoz-cmyk copy-01](https://user-images.githubusercontent.com/13119409/29496619-40956d02-8600-11e7-9d78-159b1db870ad.png)
![wordpress-logo-hoz-cmyk copy-02](https://user-images.githubusercontent.com/13119409/29496603-071cd7d6-8600-11e7-8110-3ee5fe42de4a.png)

[2017-08-21 09:42] htdat commented on #19
@thuautp

OK. Còn cái hình vuông? Cậu chỉnh lại và xuất ra được không?

`Logo hình vuông (chỉ có là cờ và logo): PNG và SVG.` (là file ở dưới ở reply phía trên của cậu nhưng hình vuông vì nhiều site nó dùng hình vuông)

[2017-08-21 09:44] htdat commented on #13
vãi cả dev :v

Đúng là cái này cho plugin https://translate.wordpress.org/locale/vi/default/meta/plugins-v3
Ref: https://meta.trac.wordpress.org/ticket/3057#comment:4

[2017-08-24 13:42] thuautp commented on #19
@htdat hi c, t k hiểu ý c lắm. hình vuông là vẫn file đó nhưng W với H bằng nhau đúng k?

[2017-08-25 10:38] htdat commented on #19
= )) Đúng rồi, hình này nhưng làm thêm một cái hình vuông nữa, W=H.

https://user-images.githubusercontent.com/13119409/29496603-071cd7d6-8600-11e7-8110-3ee5fe42de4a.png

[2017-09-04 15:07] htdat commented on #19
@thuautp
Cái này không tốn nhiều time lắm, cậu finish xong cho tớ luôn đc ko Thu ơi? :D
Chỉ còn hai cái và đúng hai cái thôi =)

[2017-09-05 02:19] thuautp commented on #19
@htdat sorry c, t quên mất vụ này. t sửa xong rồi c xem nhé! (.svg t fai zip lại vì git k cho upload, c unzip ra nhé)
![wordpress-logo-hoz-cmyk copy-02](https://user-images.githubusercontent.com/13119409/30042388-1d9f0cdc-921b-11e7-9f3e-89b3fd65b30b.png)
[wordpress-logo-hoz-cmyk copy-02.svg.zip](https://github.com/wpvi/todos/files/1275869/wordpress-logo-hoz-cmyk.copy-02.svg.zip)

[2017-09-06 11:34] htdat commented on #19
@thuautp
Cái SVG có vẻ OK mà cái PNG vẫn chưa vuông nhỉ? @@

[2017-09-06 15:32] thuautp commented on #19
@htdat t gui lai nhe
![wordpress-logo-hoz-cmyk-copy-02](https://user-images.githubusercontent.com/13119409/30120529-49534d0a-9353-11e7-9db0-149fba6efa52.png)

[2017-09-07 00:54] htdat commented on #19
Thanks c nhé!
Done - e171e2d0ff1ae63f91b8f167d67109cf7b8fe937

[2017-09-07 00:54] #19 closed, assigned to nobody

[2017-09-13 02:02] khoipro commented on #13
Có lên plan dịch cho phần https://translate.wordpress.org/projects/meta/plugins-v3/vi/default không?

[2017-09-13 02:07] khoipro opened #21 "Dịch trang Plugin mới trên vi.wordpress.org"
Cái này dịch xong thì mình có thể request trang plugin directory với giao diện mới
Ví dụ: https://vi.wordpress.org/plugins/wordpress-seo/

Open: @khoipro
Confirmed: @dinhtungdu

https://translate.wordpress.org/projects/meta/plugins-v3/vi/default?page=1

[2017-09-13 16:24] htdat commented on #13
Em thấy anh đã tạo issue mới ở đây #21.

[2017-09-13 16:26] htdat commented on #21
Không cần phải request gì cả anh nhé.
Bản dịch sẽ được tự update trong 24 giờ - [reference](https://make.wordpress.org/polyglots/handbook/rosetta/theme-plugin-directories/#how-to-translate-the-theme-plugin-directories).

[2017-09-13 17:09] nguyenvanduocit commented on #5
accesstrade.vn có vẻ quá xa với expectation.

[2017-09-13 17:14] nguyenvanduocit commented on #5
Một lựa chọn gần bằng 100k:  http://50mm.vn : 87.79K, không quảng cáo, đẹp.

[2017-09-13 17:16] nguyenvanduocit commented on #14
Bỏ hai cái User Frontend và CPT UI cho đẹp anh.

[2017-09-13 17:30] nguyenvanduocit commented on #15
Em thấy là Polygots phân biệt chữ hoa với chữ thường, Nếu chỉ add chữ thường, thì khi gặp chữ hoa nó lại không gợi ý. Nếu trường hợp chữ hoa và chữ thường đem lại ý nghĩa khác nhau, có thể thêm vào phần ghi chú.

[2017-09-13 17:43] nguyenvanduocit commented on #10
@htdat
Em dịch file readme.html nhé
Nhưng mà em đang thử commit lên repo https://i18n.svn.wordpress.org/  nhưng báo lỗi là em không có quyền. Không biết làm sao mình commit lên được nhỉ.

[2017-09-14 00:27] htdat commented on #10
Cái này phải request thi người ta mới cấp quyền.

@dinhtungdu trước có làm rồi, để Tùng gửi cái link đó qua đây nhé.

[2017-09-14 00:28] htdat commented on #10
à, còn cũng ko cần phải dịch luôn, đến ngày đó cùng nhau dịch cũng OK = )

[2017-09-14 00:32] htdat commented on #10
Update ở post đầu:

[code]

[2017-09-14 00:34] htdat commented on #14
Đúng rồi, mình nên lấy screenshot với các tiêu chí:

* Nội dung là từ Theme Unit, hoặc thậm chí là nội dung mặc định.
* Thông cài theme và plugin bên ngoài
* Có phần `Tin tức về WordPress`, config để đảm bảo lấy được info từ tiếng Việt.

[2017-09-14 00:38] htdat commented on #5
Cái này nên áp dụng cho cả các site trong showcases.
Còn lưu ý chút `Rosetta sites` là các site của các nước (hoặc ngôn ngữ) như vi.wordpress.org, ru.wordpress.org, v.v.

[2017-09-14 00:42] htdat commented on #5
Một plan tốt hơn là:

1. Mình chốt lại các tiêu chí, quá trình để lựa chọn, và có một post/page public ở vi.wordpress.org hoặc vi.wordpress.org/team

2. Chọn lấy một số site mà các Locale Manager tự đề xuất -- nhưng các Locale Manager không được có mối quan hệ trực tiếp hay gián tiếp tới site được đề xuất.

3. Đẩy thông tin lên và kêu gọi mọi người submit:

* Vừa có các site lớn tự submit nếu họ m

[2017-09-14 00:45] htdat commented on #15
Uhm, đó là cái anh thấy ở đây.

* Nên, mình check với Polygots xem là họ có định fix, hay có giải pháp không?

* Nếu không thì mình có viết script hay thậm chí dùng Excel để tạo ra hai phiên bản chữ hoa và thường. Sau đó, mình upload lên https://translate.wordpress.org/locale/vi/default/glossary

[2017-09-14 03:57] nguyenvanduocit commented on #10
Tạo repo riêng để chưa cái i18n đi anh.

[2017-09-14 04:27] nguyenvanduocit commented on #14
Lấy đâu xa, ngay đây nè: https://vi.wordpress.org/wp-admin/
![screen shot 2017-09-14 at 11 26 42 am](https://user-images.githubusercontent.com/1256953/30412141-a9aecaf2-993f-11e7-8051-ee4609ca3377.png)

[2017-09-14 08:13] htdat commented on #10
Cũng không cần đâu. Vì nó đơn giản nên mình cũng ko nên tạo ra thêm làm gì.
Thay vì vậy mình nên note lại nó là gì ở trang chủ của repo này  https://github.com/wpvi/todos

Em check xem có cần permission để commit ko nhé? Nếu có thì anh sẽ add.

[2017-09-22 03:44] htdat opened #22 "Đưa bài về giải thích chung về Mã nguồn mở, WordPress.org, WordPress.com, và WordCamp"
- [ ] Lấy từ đây và biên tập lại:

* https://tiendathoang.com/blog/2017/05/bai-1-ai-so-huu-wordpress-nguoi-ta-kiem-tien-tren-do-nhu-the-nao/
* https://tiendathoang.com/blog/2017/05/bai-2-wordcamp-lien-quan-toi-wordpress-ra-sao-tai-sao-lai-la-phi-loi-nhuan/

- [ ] Đưa thành pages

[2017-09-28 07:38] khoipro commented on #13
Cái này dịch xong rồi đấy: https://translate.wordpress.org/projects/meta/rosetta/vi/default

[2017-09-28 07:39] khoipro commented on #13
[o2](https://translate.wordpress.org/projects/meta/o2/vi/default?filters%5Bstatus%5D=untranslated&sort%5Bby%5D=priority&sort%5Bhow%5D=desc) cũng thấy dịch rồi.

[2017-09-28 14:16] htdat commented on #14
@nguyenvanduocit
Anh setup hình này, nó mang tính đại diện và chính xác với thực tế người dùng bình thường cài hơn :D

File - https://vi.wordpress.org/files/2017/09/wpvi-dashboard.png

Hình:
![wpvi](https://vi.wordpress.org/files/2017/09/wpvi-dashboard.png)

Done!

[2017-09-28 14:16] #14 closed, assigned to nobody

[2017-09-28 14:34] htdat commented on #13
Hai cái này mình sẽ dành time để review cho hôm 30/09 tới anh nhé :D

[2017-09-28 15:21] htdat opened #23 "Bổ sung thông tin cho phần download ở trang chủ vi.wordpress.org"
## Hiện tại

Có một khoảng trắng lớn ở giữa

![](http://cld.wthms.co/ti9G5I+)
Image link: http://cld.wthms.co/ti9G5I

## Ví dụ của trang es.wordpress.org

![](http://cld.wthms.co/Bbrm73+)
Image link: http://cld.wthms.co/Bbrm73

## Giải pháp

Mình cần có phần 1 - 2 - 3 như trang của Tây Ban Nha.

1. Cái này chỉ cần tạo một page với slug `txt-download`
* Site es: https://es.wordpress.org/txt-downloa

[2017-09-29 15:33] khoipro opened #24 "Gỡ bỏ target="_blank" cho các string dịch đã cũ"
https://translate.wordpress.org/projects/wp/dev/admin/vi/default?filters%5Bterm%5D=codex

Đặt filter là `codex` sẽ thấy còn khoảng 5-6 page đang để đường dẫn kèm theo `target="_blank"` trong khi string mới của version hiện tại không còn kèm theo nữa.
Có lẽ là do string này cũ quá rồi nên cần thay thế.

Ngoài ra cần lưu ý là sẽ dịch lại thành các khái niệm HƯỚNG DẪN ....

Ví dụ:

Hướng dẫn tạo tran

[2017-09-29 15:35] khoipro opened #25 "Xây dựng nội dung Codex cơ bản cho người dùng mới"
Với mục tiêu là cập nhật các nội dung mới từ Codex để chuyển hoá sang tiếng Việt, sau đó gắn liên kết lên page Bắt đầu thành 1 loạt các liên kết hữu ích dành cho người dùng mới.

https://codex.wordpress.org/First_Steps_With_WordPress

Cần viết nháp để chuyển thể vào liên kết này:

[code]

https://codex.wordpress.org/vi:B%E1%BA%AFt_%C4%90%E1%BA%A7u_V%E1%BB%9Bi_WordPress

[2017-09-29 15:36] khoipro opened #26 "Biên tập: Codex - Lựa chọn Hosting"
Phần này đang nhờ bên HOSTVN bổ sung thông tin, bài viết sẽ được cân nhắc để đảm bảo tính khách quan và giới thiệu yếu tố kĩ thuật phù hợp.

[code]

[2017-09-30 08:08] khoipro commented on #23
[2] Đã duyệt bản dịch.

[2017-09-30 08:19] khoipro commented on #23
[1] Đã lên, mới viết 1 đoạn intro ngắn và gắn vào hướng dẫn cài đặt + link tới phần News thôi.

[2017-09-30 09:44] khoipro opened #27 "Biên tập và chỉnh sửa phần dịch Cài đặt"
Link:
https://vi.wordpress.org/cach-cai-dat-wordpress-tieng-viet/
(Updated by @htdat)

Có mấy string cần tối ưu lại.

[code]

"lên đường" => "bắt đầu"
"nền tảng xuất bản cá nhân" => "nền tảng website" (dịch thoát nghĩa)

[code]

Đổi "làm ơn" thành "Vui lòng"

[code]

--bảng-- chữ cái

[code]

=> Dài bị xuống dòng, đổi thành **Thư điện tử**

[code]

[2017-09-30 09:50] khoipro commented on #23
Đã add luôn cả `txt-install` để chuẩn bị cho phần thông tin cài đặt cơ bản (vd yêu cầu hệ thống).

[2017-09-30 09:52] khoipro commented on #13
Rosetta đã ok rồi đấy .

[2017-09-30 09:53] khoipro commented on #20
Đóng lại để dự trù tiếp các sự kiện tháng 10 nhé.

[2017-09-30 09:53] #20 closed, assigned to htdat

[2017-09-30 09:54] khoipro commented on #15
Hiện tại như bên WooCommerce thì đang tạo cả 2 bản có viết hoa và không viết hoa đấy. Bên plugin có vẻ sẽ làm tay được.

[2017-09-30 09:59] khoipro opened #28 "Dịch plugin: WooCommerce"
Theo tình hình là dự kiến tới hết tháng 10 có nên hoàn thành dịch WooCommerce không nhỉ. Theo mình là nên, vừa là tin vui nên công bố cho cộng đồng vừa giới thiệu và khuyến khích người tham gia.

[2017-09-30 10:00] khoipro opened #29 "Review bản dịch Rosetta"
Hiện mình đã approve Rosetta nên cần 1 bạn GTE review và discuss xem có phần nào chưa ok không nhé.

Link: https://translate.wordpress.org/projects/meta/rosetta/vi/default
(updated by @htdat)

[2017-09-30 10:03] khoipro commented on #13
Cần review ở #29

[2017-09-30 10:08] khoipro opened #30 "Bài viết: Hướng dẫn cơ bản"
Tổng hợp các bài viết dành cho người dùng mới.

Link page: `https://vi.wordpress.org/bat-dau/`

Các sub-page (link dạng `/bat-dau/cai-dat-xxx`)

- [x] Cài đặt WordPress
- [x] Cài đặt giao diện WordPress
- [x] Cài đặt plugin WordPress

[2017-10-01 04:42] nguyenvanduocit commented on #27
ok anh

[2017-10-01 05:13] nguyenvanduocit commented on #29
`VIẾT CODE LÀ THƠ.`
Em thấy "viết code" và "thơ" không thể so sánh với nhau, một bên động từ, bên còn lại là danh từ.
Em thấy nên là:
`Viết code như làm thơ`
hoặc
`Code cũng là thơ`

[2017-10-01 05:59] nguyenvanduocit commented on #29
`Translation Editor` không nên là `người dịch`. `Biên tập viên` thì sao nhỉ?

[2017-10-02 06:26] htdat commented on #29
Cái này anh đồng ý nhé.

Anh Khôi đã dịch ở [đây](https://translate.wordpress.org/projects/meta/rosetta/vi/default?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=26305&filters%5Btranslation_id%5D=51563922).

[2017-10-02 06:29] htdat commented on #23
Hooray! Done!

[2017-10-02 06:30] htdat commented on #15
Mình export ra rồi dùng Excel (Google Spreadsheet) hoặc code để add thêm cho các chữ viết hoa, cái này cũng không nhất thiết là phải làm bằng tay.

[2017-10-02 07:12] htdat commented on #27
@khoipro:
Lần sau anh viết thì để link cụ thể ra nữa nhé, để người vào xem biết được luôn là đang nói ở trang nào.

Còn ở đây thì cần thay hai screenshot ở trong hình, hiện tại toàn có những custom menu item.
E/a đã update sang hình mới.

[2017-10-02 08:09] dinhtungdu commented on #28
Theo em thì mình nên kêu gọi mọi người tham gia dịch luôn anh ạ. Không cần phải đợi đến lúc dịch xong mới lấy cái đó khuyến khích đâu anh, lúc mà nhiều plugin chưa được dịch thế này kêu gọi tham gia mới dễ :D

[2017-10-06 05:01] khoipro commented on #29
Câu `Translation Editor ` nhẽ ra thì nên đặt là `Biên tập viên dịch thuật`, nhưng nếu theo ngữ cảnh thì anh nghĩ nên đổi thành `Người dịch` là vì ở đây chức năng chính là Quản lý thành viên tham gia đội dịch em ạ. Dịch `Biên tập viên` thì thiếu mất nghĩa `dịch` nên không thấy đủ ý lắm.

[2017-10-06 05:02] khoipro commented on #27
Ừ lần sau sẽ kèm ảnh, tại cái này là cài localhost nên tiện check report lên thôi.

[2017-10-06 05:02] khoipro commented on #21
Đã hoàn tất, chuyển qua phần đánh giá.

[2017-10-06 05:58] nguyenvanduocit commented on #29
Vậy thì mình có thể dịch là "Biên tập viên dịch thuật"

[2017-10-06 08:03] khoipro opened #31 "WP Core: Review lại bản dịch trong nội dung email"
Một số đoạn dịch chưa chuẩn nên cần chỉnh sửa thêm cho hợp lý hơn trong tháng 10 này.

![pasted image at 2017_10_06 08_53 am](https://user-images.githubusercontent.com/10395311/31268631-707f3c48-aaa7-11e7-9d59-7200ed1941b0.png)

[2017-10-06 08:22] khoipro opened #32 "Duyệt và Dịch Yoast SEO"
https://translate.wordpress.org/projects/wp-plugins/wordpress-seo/dev/vi/default?filters%5Bterm%5D=&filters%5Buser_login%5D=&filters%5Bstatus%5D=waiting&filter=Filter&sort%5Bby%5D=priority&sort%5Bhow%5D=desc

[2017-10-06 08:23] khoipro commented on #30
Đã xong.

[2017-10-06 08:23] #30 closed, assigned to khoipro

[2017-10-06 08:24] khoipro commented on #4
Tạm đóng issue này để tách lớp các việc nếu cần làm thêm.

[2017-10-06 08:24] #4 closed, assigned to nobody

[2017-10-14 06:18] htdat opened #33 "Tìm hiểu cách để có thể upload các videos của meetup lên WordPress.tv"
Đang contact với Nao trên https://wordpress.slack.com/

[2017-10-15 15:33] khoipro opened #34 "Duyệt bản dịch plugin Contact Form 7"
Sau khi event này kết thúc.

https://www.facebook.com/events/470778896637839/

[2017-10-15 15:33] khoipro commented on #31
Đã xong.

[2017-10-15 15:33] #31 closed, assigned to khoipro

[2017-10-15 15:57] khoipro commented on #29
Dịch dài quá cut-off phần menu bên trái (vì đây là tiêu đề Menu) luôn.

[2017-10-15 15:57] khoipro commented on #27
Tạm xong.

[2017-10-15 15:57] #27 closed, assigned to nguyenvanduocit

[2017-10-17 23:52] htdat commented on #23
[3] Cái này chưa xong, đang hỏi ở đây
https://make.wordpress.org/polyglots/2017/10/17/add-links-to-wp-admin-of-vi-wordpress-org/

[2017-10-17 23:57] htdat opened #35 "Tổ chức meetup Hà Nội - ngày 28/10/2017"
Thông tin:
https://www.facebook.com/wpvnteam/posts/746718812190528

Tasks:

- [x] Chốt địa điểm, đang contact Vietmoz
- [x] Cập nhật event trên FB: https://www.facebook.com/wpvnteam/posts/746718812190528
- [x] Tạo event trên meetup https://www.meetup.com/hanoi-wordpress/events/244341926/ (Đạt)
- [ ] Chốt lại topic.
- [x] Contact anh Tuấn Anh nói về Gutenberg (Đạt)

[2017-10-18 04:40] dinhtungdu commented on #35
Địa điểm đã xong anh em nhé. Tầm hơn 20 người là đẹp :D. Max 30 người.

[2017-10-18 10:41] NuskinScion opened #36 "BẤT NGỜ VỚI CÔNG DỤNG LĂN NÁCH SCION MÀ BẠN CẦN PHẢI BIẾT?"
Trên cơ thể con người luôn tập trung nhiều tuyến mồ hôi để cơ thể luôn điều hòa nhiệt độ và phù hợp với môi trường bên ngoài. Vào những ngày nhiệt độ lên cao thì tuyến mồ hôi hoạt động mạnh mẽ, đặc biệt là vùng dưới cánh tay và chân, gây ra cho bạn những mùi hôi khó chịu, khiến bạn ngại giao tiếp với mọi người.

Ngay lúc này đây, bạn cần một sản phẩm có thể giúp bạn giải quyết những mùi hôi cơ thể

[2017-10-19 08:16] #36 closed

[2017-10-19 08:25] dinhtungdu commented on #33
Hiện tại đã có thể submit video lên WordPress.tv
Truy cập: https://wordpress.tv/submit-video/
Điền đầy đủ thông tin cần thiết.
Chọn đúng Category: ‘Hanoi’, ‘WordPress Meetup’ and ‘2017’ (Không cần chọn category cha)

Tạm thời sẽ chỉ có Hà Nội, sẽ request thành phố khác sau.

[2017-10-19 08:25] #33 closed, assigned to htdat

[2017-10-19 12:26] htdat commented on #35
Đã tạo even trên meetup
https://www.meetup.com/hanoi-wordpress/events/244341926/

[2017-10-19 12:44] htdat commented on #35
Thời gian này anh Tuấn Anh bận rồi. Lần sau anh Tuấn Anh sẽ tham gia sau.

[2017-10-19 12:47] htdat commented on #35
Thời gian này anh Tuấn Anh bận rồi. Lần sau anh Tuấn Anh sẽ tham gia sau.

[2017-10-19 13:17] htdat opened #37 "Upload video cho meetup ngày 30/09/2017"
Event: https://www.meetup.com/hanoi-wordpress/events/243139519/

### 1 - Phát triển theme với VueJS & WP RestAPI

- [x] Lấy link slide
- [x] Upload
- [ ] Check để đảm bảo link được publish

### 2 - Định hướng phong cách ngôn ngữ trong dịch thuật WordPress

- [x] Lấy link slide
- [x] Upload
- [ ] Check để đảm bảo link được publish

[2017-10-23 12:34] htdat commented on #37
1 - Phát triển theme với VueJS & WP RestAPI

Link slide:  https://docs.google.com/presentation/d/1td9wqkc5nf-Cuuwup6rmSIHLOzF1MqnZDx-cD_cWr78/edit?usp=sharing

2 - Định hướng phong cách ngôn ngữ trong dịch thuật WordPress

https://www.slideshare.net/khoicapricorn/style-and-stylistic-accommodation-in-wordpress-translation-wp-meetup-hanoi-3009

@dinhtungdu : anh upload xong cả 2 rồi, đã add cả 3 tag

[2017-10-29 01:34] htdat commented on #23
https://make.wordpress.org/polyglots/2017/10/17/add-links-to-wp-admin-of-vi-wordpress-org/

Done!

Quote from https://make.wordpress.org/polyglots/2017/10/17/add-links-to-wp-admin-of-vi-wordpress-org/#comment-277349

![image](https://user-images.githubusercontent.com/10045087/32139983-fd192d60-bc83-11e7-899d-42406b92487f.png)

[2017-10-29 01:34] #23 closed, assigned to khoipro

[2017-10-29 02:29] htdat opened #38 "Contact lấy swag cho các meetup group"
Vẫn đang contact...

[2017-10-29 02:33] htdat opened #39 "Apply cho meetup group ở Đà Nẵng vào "the Meetup chapter program" của core"
* Thông tin chương trình: https://make.wordpress.org/community/handbook/community-deputy/meetup-program-basics/#who-can-be-part-of-the-meetup-chapter-program

* Form: https://make.wordpress.org/community/handbook/meetup-organizer/getting-started/interest-form/

* Nội dung contact form:

[code]

[2017-11-08 02:44] NuskinScion opened #40 "GIÁ LĂN KHỬ MÙI SCION PURE WHITE ROLL ON"
Bạn đang tìm hiểu về giá lăn khử mùi Scion Pure White Roll On, và nghĩ rằng chúng khá mắc? Không biết chúng có phù hợp hay không? Và không biết điểm nổi bật của sản phẩm này là gì?

Vậy hãy cùng chúng tôi tìm hiểu về những điểm nổi bật của sản phẩm này để bạn có thể đưa ra những nhận định chính xác nhất về sản phẩm.
LĂN KHỬ MÙI SCION CHẤT LƯỢNG – SẢN PHẨM CAO CẤP ĐỀN TỪ MỸ.

Sản phẩm trên là sản p

[2017-11-08 08:11] #40 closed

[2017-11-13 02:14] htdat opened #41 "Promote cho group Facebook vi.wordpress.org"
Link: https://www.facebook.com/groups/wpvnteam/?ref=br_rs

### Mục tiêu:

* Tăng nội dung chất lượng, thay vì group hiện tại quá loãng https://www.facebook.com/groups/wordpressviet/?ref=bookmarks

* Người tham gia có thể thảo luận ngoài chủ đề liên quan tới dịch, nhưng phải đảm bảo chất lượng và có sự tìm hiểu trước khi đặt câu hỏi.

### Tasks:

- [x] Set admin cho anh Tuấn Anh, Thành Lưu vào grou

[2017-11-13 09:00] khoipro commented on #38
Đang đợi nhận hàng nhé.

[2017-11-13 09:01] khoipro commented on #37
Đã có.

https://wordpress.tv/language/vietnamese/

[2017-11-13 09:01] #37 closed, assigned to htdat

[2017-11-13 09:01] khoipro commented on #34
Đã hoàn tất và phát hành.

[2017-11-13 09:01] #34 closed, assigned to nobody

[2017-11-13 09:02] khoipro commented on #35
Đã tổ chức xong.

[2017-11-13 09:02] #35 closed, assigned to nobody

[2017-11-13 09:02] khoipro commented on #32
Chuyển sang contact các bên làm về SEO để họ dịch.

[2017-11-13 09:04] tatthien commented on #41
Có một cách mà bên group FB Vuejs Việt Nam đó là xin bên vuejs.org để trở thành Official Vuejs Vietnam.

Mình cũng có thể xin bên WordPress.org chẳng hạn để đổi tên thành Offical WordPress Vietnam.

Nhưng hiện tại mình đang manage trang vi.wordpress.org thì chắc không cần xin 😂

[2017-11-13 09:47] htdat commented on #41
Uhm dung roi. Minh viet gi chang dc = )

[2017-11-13 09:48] htdat commented on #34
blog post - https://vi.wordpress.org/2017/11/11/hoan-thanh-ban-dich-tieng-viet-cua-plugin-contact-form-7/

[2017-11-14 01:21] khoipro opened #42 "Add PTE"
Nhằm tăng tiến độ dịch, mình sẽ triển khai việc add thêm các PTEs phù hợp với từng project. Tất cả đều được list ra ở đây.

[2017-11-14 01:25] khoipro commented on #42
WP Super Cache - added @chuduc (HOSTVN.NET Team)

[2017-11-14 01:26] khoipro commented on #42
Cần bổ sung guide để hướng dẫn PTE. Nhiều PTE sẽ muốn dịch tại máy thông qua Loco Translate thay vì sử dụng dịch trực tiếp trên translate.wordpress.org. @htdat có setup đc document không?

[2017-11-14 01:33] htdat commented on #42
@khoipro : Là viết document hướng dẫn hay thế nào hả anh?

[2017-11-14 01:36] khoipro commented on #42
Ừ, dạng 1 Handbook dành cho PTE của mình. Theo anh thì nó khá simple, chắc vài cái screenshot + giới thiệu là đủ thôi.

[2017-11-14 01:43] khoipro commented on #42
Yoat SEO - added @thanhlt (DesignWall - MakiPlace).

[2017-11-14 01:44] htdat opened #43 "Viết guide hướng dẫn sử dụng dịch máy Loco Translate thay vì translate.wordpress.org"
Từ thảo luận ở đây https://github.com/wpvi/todos/issues/42#issuecomment-344117175

[2017-11-14 01:47] htdat commented on #42
https://github.com/wpvi/todos/issues/43

Cái này note thêm một chút là sẽ có những request từ Polygots, kiểu dạng này nhé https://make.wordpress.org/polyglots/2017/06/21/hello-admin/

[2017-11-14 02:27] khoipro opened #44 "Xây dựng trang Thư viện trên vi.wordpress.org"
Nhằm mục tiêu giới thiệu và quảng bá các plugin/giao diện đã được dịch bởi WPVN Team, cần tạo 1 page trên vi.wordpress.org và liệt kê kèm credit về những người đóng góp nhiều nhất.

Tiêu chí:
- Plugin: phổ biến với lượt cài lớn HOẶC dễ sử dụng, phục vụ các mục đích quan trọng khi build site.
- Theme: dễ cài đặt, ít buggy, hoạt động trơn tru và dễ dàng customize.

[2017-11-16 01:27] nguyenvanduocit commented on #44
Cái này em không nghĩ là cần thiết, vì trên chính trang plugin của WordPress có thống kê/rating/review rất cụ thể. Liệu có nên sử dụng nó như "the only source of truth" không nhỉ?

[2017-11-16 01:57] khoipro opened #45 "Dịch bài đăng về WordPress 4.9"
https://wordpress.org/news/2017/11/tipton/

[2017-11-16 05:14] nguyenvanduocit commented on #10
Assign cái này cho em nhé. Cho em quyền chỉnh sửa issue với, Ví dụ như trường hợp này, em sẽ dịch cái này, em cần update lại cái issue cho phù hợp.

[2017-11-16 14:13] htdat commented on #44
Theo ý kiến của em thì cái này dạng "nice to have" chứ cũng không hẳn là thứ đặt ưu tiên cao quá.

[2017-11-16 14:14] htdat commented on #10
@nguyenvanduocit : Em có quyền sửa rồi nhỉ? Chưa có thì ping anh nhé.

[2017-11-16 14:23] htdat opened #48 "Upload videos cho WP Meetup Hanoi - Tháng 10/2017"
https://www.meetup.com/hanoi-wordpress/events/244341926/

### 1. WP REST API in practice - Gary Cao

- [ ] Lấy link slide
- [ ] Upload
- [ ] Check để đảm bảo link được publish

### 2. Gutenberg Preview - Khoi Nguyen

- [ ] Lấy link slide
- [ ] Upload
- [ ] Check để đảm bảo link được publish

@khoipro : Anh upload slide phần trình bày của anh và hỏi anh Gary nữa nhé.

[2017-11-16 14:25] htdat commented on #39
Update:

1. Đã contact với bạn https://profiles.wordpress.org/nguyencongtuan để join vào vụ này.
2. Đã setup một buổi orientation nhưng Tuấn không tham gia được.
3. Đang sắp xếp một buổi orientation tiếp theo.

[2017-11-16 15:30] tatthien commented on #44
Em đồng ý kiến với @nguyenvanduocit.

[2017-11-16 15:35] tatthien opened #49 "Chuẩn bị cho December 2017 Saigon WordPress Meetup"
- [x] Liên hệ địa điểm bên Officience
- [x] Request swag từ WordPress Support
- [x] Chốt chủ đề còn lại
- [x] Viết nội dung và tạo event trên Meetup.com + Facebook
- [x] Design cover cho event và frame (để thay đổi avatar Facebook)

[2017-11-16 23:47] nguyenvanduocit commented on #10
giờ đã có rồi anh

[2017-11-17 01:20] nguyenvanduocit commented on #49
Chủ đề còn lại đã tìm được người, chỉ cần chốt lại xem nó là cái gì nữa thôi nhỉ.

[2017-11-17 03:04] tatthien commented on #49
@nguyenvanduocit Đúng rồi. Tui mới để là chốt chủ đề đó.

[2017-11-17 13:22] htdat commented on #10
PR https://github.com/wpvi/todos/pull/47
PR https://github.com/wpvi/todos/pull/46

[2017-11-17 15:33] nguyenvanduocit commented on #10
Ây cha, quên squash, đừng ai pull nhé, để em sửa lỗi.

[2017-11-19 03:21] htdat commented on #10
Done, đã merge vào master - https://github.com/wpvi/todos/tree/master/dist

* Group Facebook - https://www.facebook.com/groups/wpvnteam/permalink/1922312234763288/
* Slack #general - tự động khi đăng comment này.

------

@nguyenvanduocit : cái này mình set 1 tuần để mọi người đóng góp thêm ý kiến.

- [x] Mình cần commit file tương tự như thế này http://i18n.svn.wordpress.org/es_ES/branches/4.9/di

[2017-11-19 13:18] nguyenvanduocit commented on #10
Em đã request.

[2017-11-19 13:20] nguyenvanduocit commented on #49
Tui đang viết nội dung nhé

[2017-11-21 04:30] jamesblackvn opened #50 "Chuẩn bị cho December 2017 Nha Trang WordPress Meetup"
Nha Trang tụi em cũng chuẩn bị làm meetup vào tháng 12/2017
Vì cộng đồng ở đây nhỏ nên quy mô meetup cũng nhỏ thôi.

Cập nhật một số công tác chuẩn bị cho anh em cùng nắm thông tin
- [ ] Thời gian: Ngày 17/12/2017
- [ ] Địa điểm: Văn phòng công ty Minh Duy Solutions
- [ ] Chủ đề: Vẫn đang chọn
- [ ] Thiết kế ISP: Thiết kế bộ ISP bao gồm backdrop, standee cover, frame Facebook
- [ ] Công bố thông t

[2017-11-23 01:40] tatthien commented on #49
Content sao rồi @nguyenvanduocit  ơi

[2017-11-23 02:12] nguyenvanduocit commented on #49
Đợi có chủ đề của anh Huy nữa cho có chuyện để nói. sắp chốt rồi.

[2017-11-26 04:16] htdat commented on #10
@nguyenvanduocit : 7 ngày rồi, mình commit lên nhé.
Có vấn đề gì thì @dinhtungdu có quyền commit rồi có thể support.

❤️

[2017-11-26 04:19] htdat commented on #50
Anh định tổ chức nói về cái gì nhỉ? Có speaker chưa ạ hay anh em đến trao đổi thôi? :D

[2017-11-26 04:25] htdat opened #51 "Dịch plugin Jetpack"
https://translate.wordpress.org/locale/vi/default/wp-plugins/jetpack

[2017-11-27 02:58] tatthien commented on #49
Anh Huy chốt chủ đề chưa @nguyenvanduocit

[2017-11-29 02:11] tatthien commented on #49
@nguyenvanduocit Chắc nay confirm với anh Huy luôn rồi đăng event hen?

[2017-11-29 05:53] htdat commented on #49
Anh Huy nao do nhi?

[2017-11-29 06:14] tatthien commented on #49
@htdat anh Huy hồi xưa làm chung với tụi em.

[2017-11-29 08:31] NuskinScion opened #52 "-"

[2017-11-29 09:16] htdat commented on #52
spam!

[2017-11-29 09:16] #52 closed

[2017-11-30 03:01] tatthien commented on #49
Topic 3
How To Build A Premium Theme The Right Way: A Normal Process

[2017-11-30 03:17] nguyenvanduocit commented on #49
Uhm, mới thấy trên facebook, ngon đó.

[2017-11-30 03:21] tatthien commented on #49
um, chuẩn bị content mai 1/12 đăng cũng được 💯

[2017-12-03 10:46] nguyenvanduocit commented on #49
Ngày 16/12 chúng ta có một cuộc hẹn với các bạn lập trình viên, end-user, project manager, và những người quan tâm đặc biệt tới WordPress tại Hồ Chí Minh cùng với Sài Gòn WordPress Team, đây là meetup lần thứ `n` trong năm nay cũng là meetup cuối cùng với các chủ đề thú vị nhất nhằm kết thúc một năm tuyệt vời với WP.

1. Đầu tiên chúng ta sẽ cùng nhau nhìn lại một năm thành công nữa của WordPres v

[2017-12-03 16:16] tatthien commented on #49
👍 lần này nhớ hướng dẫn đường đi tới Officience.

[2017-12-03 16:38] nguyenvanduocit commented on #49
Hahaha.

[2017-12-03 16:48] tatthien commented on #49
Gợi ý phần tiếng Anh:

Hey WordPress lovers. We are excited to announce you the last meet up in 2017.

At this meetup, there will be 3 interesting topics:

1. We will take a look at the state of WordPress in 2017.

2. What's changed with WooCommerce 3.0 by Jamie Madden - the author of WPVendor.

3. How to build premium themes the right way: A Normal Process by Quoc Huy Tran - former product manage

[2017-12-04 09:13] khoipro commented on #49
Đã add bài viết promote: https://vi.wordpress.org/2017/12/04/december-2017-saigon-wordpress-meetup/
Đã tạo Facebook event link: https://www.facebook.com/events/132171540791890/

[2017-12-04 09:56] tatthien commented on #49
Cảm ơn anh @khoipro

[2017-12-13 10:45] htdat commented on #48
Vụ này lâu quá, sau 27/12 (2 tuần nữa từ hôm nay), nếu ko có update thì sẽ close.

[2017-12-13 10:47] tatthien commented on #49
`Design cover cho event và frame (để thay đổi avatar Facebook)`
Task này close vì giờ cũng không cần nữa.

[2017-12-13 10:49] htdat opened #53 "Video: đăng ký để Sài Gòn cũng có thể upload"
Tương tự issue này - **Tìm hiểu cách để có thể upload các videos của meetup lên WordPress.tv #33**

Cần contact và request thêm một categrory mới: `Sài Gòn` hoặc `TP. Hồ Chí Minh`.

@dinhtungdu: Tùng liên hệ nhé?
@nguyenvanduocit và @tatthien: Hai em prefer từ nào trong hai từ trên?

[2017-12-13 10:51] tatthien commented on #53
em nghĩ là `Hồ Chí Minh` nó official hơn.

[2017-12-13 17:46] dinhtungdu commented on #53
Done! Hồ Chí Minh

[2017-12-13 17:46] #53 closed, assigned to dinhtungdu

[2017-12-13 18:11] nguyenvanduocit commented on #49
Uhm, hoi tre

[2017-12-16 01:11] htdat commented on #38
Anh Khôi nhận đc chưa?
Bên SG nhận đc rồi.

[2017-12-22 10:59] htdat commented on #49
Cai nay close nhe? Hoac la follow up task upload videos o day?

[2017-12-22 10:59] htdat commented on #50
Cai nay the nao a? Co thong tin gi anh Minh update o day nhe?

[2017-12-22 11:00] htdat commented on #39
Bạn Tuấn ko follow up vụ này được nên tạm thời dừng lại.

[2017-12-22 11:02] tatthien commented on #49
Dạ close đi anh. Video tụi em sẽ tạo todo khác.

[2017-12-22 11:04] htdat commented on #10
@nguyenvanduocit cai nay the nao nhi?
Hoac @dinhtungdu xem upload len dc ko? :D

[2017-12-22 11:06] #49 closed

[2017-12-22 11:52] nguyenvanduocit commented on #10
Họ vẫn khôn cho em quyền upload, anh @dinhtungdu upload giùm thì được.

[2018-02-01 04:45] khoipro commented on #45
Huỷ bỏ vì không cần nữa.

[2018-02-01 04:45] #45 closed, assigned to nobody

[2018-02-01 04:48] khoipro commented on #44
Mình sẽ remove phần này trên trang hiện tại.

[2018-02-01 04:48] #44 closed, assigned to khoipro

[2018-02-01 04:53] khoipro commented on #24
Có vẻ thấy hoàn tất rồi.

[2018-02-01 04:53] #24 closed, assigned to khoipro

[2018-02-01 04:53] khoipro commented on #38
HN đã nhận rồi.

[2018-02-01 04:53] #38 closed, assigned to htdat

[2018-02-01 05:21] khoipro commented on #13
P2 đã duyệt và dịch xong.

[2018-02-01 10:16] #50 closed, assigned to nobody

[2018-02-01 10:16] #48 closed, assigned to htdat

[2018-02-01 10:19] htdat commented on #13
Cai nay e close luon!

[2018-02-01 10:20] htdat commented on #10
@dinhtungdu: alo?

[2018-02-01 13:34] #29 closed, assigned to nobody

[2018-02-01 13:34] #25 closed, assigned to khoipro

[2018-02-01 13:34] #26 closed, assigned to khoipro

[2018-02-01 13:35] khoipro commented on #13
Anh đang duyệt nốt theme o2 nữa.

[2018-04-08 08:26] #41 closed, assigned to nobody

[2018-04-08 08:28] #13 closed, assigned to khoipro

[2018-04-08 08:43] htdat opened #54 "Dịch các trang About mới trên vi.wordpress.org"
### Trên front-end

![screen shot on 2018-04-08 at 15 40 37](https://user-images.githubusercontent.com/10045087/38465212-617ae828-3b43-11e8-831f-669d55cae2d5.png)

### Nơi dịch

https://translate.wordpress.org/projects/meta/wordpress-org/vi/default

[2018-04-08 08:45] htdat commented on #54
Anh @khoipro đã dịch khá nhiều nhưng hiện tại các chuỗi này vẫn chưa hiện lên.
Đang thảo luận ở trên Facebook nữa - https://www.facebook.com/groups/wpvnteam/permalink/1995036777490833/

[2018-04-08 08:56] dinhtungdu commented on #10
Done!
http://i18n.svn.wordpress.org/vi/branches/4.9/dist/

Ps: Lần sau thấy lâu quá ping mình trên FB hoặc Slack nhé : ))

[2018-04-09 01:38] htdat commented on #10
Anh re-open lại nhé.
Tải ở đây vẫn chưa có 2 file này https://vi.wordpress.org/wordpress-4.9.5-vi.zip

Có lẽ phải chờ 24 - 48 giờ...

[2018-04-11 06:40] dinhtungdu commented on #10
Đã xong nhé, hệ thống đã tự build được rồi. Đã test có đủ 2 file.

[2018-04-11 06:40] #10 closed, assigned to nguyenvanduocit, dinhtungdu

[2018-04-11 06:57] htdat commented on #10
Well-done! Thanks Được và Tùng nhé :D

Vấn đề là gì nhỉ @dinhtungdu? Tự nó build được lên à, hay em có chỉnh gì k?

[2018-04-11 06:59] dinhtungdu commented on #10
Vấn đề ở đây là gói ngôn ngữ nó chưa được build lại, chỉ cần mình reject rồi approve lại một string trên bản WordPress stable để nó trigger việc build cho mình là xong ;). Các gói ngôn ngữ mặc định sẽ không được build lại, trừ khi có thay đổi ở trên translate.wordpress.org thì sẽ build lại trong vòng 2 tiếng.

[2018-07-18 12:33] htdat opened #55 "Trang "Download""
## Vấn đề 1

Từ vi.wordpress.org link đến trang này https://vi.wordpress.org/?page_id=449
Đúng ra là phải https://vi.wordpress.org/download

## Vấn đề 2

https://vi.wordpress.org/download/
Button ghi là 4.9.7. Nhưng thực ra link là 4.9.6

[2018-07-18 13:19] dinhtungdu commented on #55
Đã giải quyết vấn đề 1 bằng cách thêm lại page `Download` vào menu chính.

[2018-07-19 02:41] dinhtungdu commented on #55
Vấn đề 2: đã contact `ocean90` và trang hiện tại đã hiện đúng phiên bản, nhưng đang là 4.9.6, đang đợi để tự build gói mới xem có lên 4.9.7 không.

[2018-07-19 23:39] htdat commented on #55
Vấn đề 2: confirm là đã có link 4.9.7 trên https://vi.wordpress.org/download/

[2018-07-19 23:39] #55 closed, assigned to dinhtungdu

[2018-07-19 23:46] htdat commented on #21
Quá OK. Em close cái này.

[2018-07-19 23:46] #21 closed, assigned to nobody

[2018-07-19 23:56] htdat opened #56 "Bản 4.9.7 - không có file tiếng Việt cho readme.html, wp-config-sample.php"
Liên quan: #10

Kiểm tra ở file https://vi.wordpress.org/wordpress-4.9.7-vi.zip (từ https://vi.wordpress.org/download/ )

[2018-07-25 13:14] htdat commented on #56
@dinhtungdu - e có idea gì về vụ này ko?

[2018-07-26 08:05] khoipro commented on #42
Thành (https://www.facebook.com/thanhlt90) request để trở thành PTE cho WooCommerce. @htdat duyệt tuần này nhé.

[2018-07-26 08:07] khoipro commented on #42
@htdat remove nick chuduc ra khỏi WP Super Cache nhé.

Anh không thấy tiến triển bản dịch hơn gì cả.

[2018-07-26 11:48] htdat commented on #42
Em ko tìm được WP.org profile ở đây https://translate.wordpress.org/locale/vi/default/wp-plugins/wp-super-cache

Profile trên WP.org là gì nhỉ?

[2018-07-26 15:45] htdat commented on #42
Done!

* https://translate.wordpress.org/locale/vi/default/wp-plugins/woocommerce
* https://profiles.wordpress.org/thanhlt/

[2018-07-31 07:56] htdat commented on #56
https://vi.wordpress.org/wordpress-4.9.5-vi.zip - not found
https://vi.wordpress.org/wordpress-4.9.6-vi.zip - có cả hai file.

[2018-07-31 09:20] dinhtungdu commented on #56
@htdat Phiên bản 4.9.7 hiện tại là phiên bản build bằng tay do hiện tại hệ thống chỉ auto build 4.9.8 beta. Để em hỏi trên polyglot xem có cách giải quyết nào không. Vì build tay nên không có 2 file dịch

[2018-08-01 01:43] htdat commented on #56
Hình như trước có vấn đề gì đó mà phải build tay cho 4.9.7 nhỉ?

Anh thấy các locale khác vẫn đc build tự động mà nhỉ?

[2018-08-01 01:49] dinhtungdu commented on #56
Em thử kích hoạt build tự động bằng cách reject xong accept bản dịch thì nó chỉ build cho bản 4.9.8 beta thôi anh ạ.

[2018-08-01 07:03] htdat commented on #56
OK. Em đang contact ở đâu thì refer link ở đây nhé? Để anh cùng vào check và thảo luận với họ xem.

[2018-08-01 07:05] dinhtungdu commented on #56
This: https://wordpress.slack.com/archives/C02RP50LK/p1533088132000130 <https://wordpress.slack.com/archives/C02RP50LK/p1533088132000130>

Automated builds are disabled during a release transition. Once 4.9.8 has been released they will be enabled again. This is due to only having one project for the 4.9.x branch.

[2018-08-01 07:07] htdat commented on #56
Uhm, anh vừa comment thêm vào đó:

After 4.9.8 is released, automated builds will be applied for 4.9.8 only or all other versions like 4.9.7, 4.9.6, etc?

[2018-08-01 07:08] htdat commented on #56
Nói chung là chẳng làm gì được, chờ 4.9.8 rồi verify lại vậy.

[2018-08-01 07:26] dinhtungdu commented on #56
Solved! Đã có 2 file trên ở trong bản build mới nhất. Cách làm như sau:

Phát hành phiên bản bằng tay lựa chọn Nhánh địa phương cho file của dist là branches/4.9.x. Bình thường mình sẽ chọn là `trunk` nhưng nhánh này không có các file mình dịch. Chọn 4.9.x có các file này:

_Sửa bởi @htdat, thêm phần này từ comment https://github.com/wpvi/todos/issues/56#issuecomment-409483941_

* Link: /wp-admin/

[2018-08-01 07:26] #56 closed, assigned to nobody

[2018-08-01 07:49] htdat commented on #56
Ngon ❤️😆! Cho cái screenshot em ơi để lần sau người khác thấy và làm được = )

[2018-08-01 07:51] dinhtungdu commented on #56
Settings cho bản 4.9.7 http://prntscr.com/kd8r3b

[2018-08-05 08:17] htdat commented on #5
https://www.bepgiadinh.com/
https://www.marrybaby.vn/
http://www.marry.vn/
https://www.marryliving.vn/

[2018-08-27 01:55] khoipro opened #57 "GTE - Cập nhật lịch trực hàng tuần"
Mình tạo issue để track các công việc GTE trong mỗi tuần đã làm. Report = comment.

Ví dụ mình đã add = comment.
https://vi.wordpress.org/team/2018/08/20/tuan-34-tu-20-08-26-08/

Mọi người có gợi ý gì khác không?

[2019-07-25 02:07] htdat commented on #54
Done!

[2019-07-25 02:07] #54 closed, assigned to nguyenvanduocit

[2020-06-09 01:18] #28 closed, assigned to nobody

[2020-06-09 01:19] #32 closed, assigned to nobody

[2021-03-01 08:13] duyluan38ht opened #58 "tai lieu wordpress"

[2021-03-14 01:39] #58 closed, assigned to nobody

[2021-11-03 08:41] #22 closed, assigned to khoipro

[2021-11-03 08:41] #3 closed, assigned to nobody

[2021-11-03 08:41] #5 closed, assigned to nobody

[2021-11-03 08:41] #15 closed, assigned to nobody

[2021-11-03 08:41] #39 closed, assigned to htdat

[2021-11-03 08:41] #42 closed, assigned to nobody

[2021-11-03 08:41] #43 closed, assigned to nobody

[2021-11-03 08:41] #51 closed, assigned to htdat

[2021-11-03 08:41] #57 closed, assigned to nobody